/** header.css */

/*
* Header-image positioning.
*/
.header-image {
    background-image: url('../img/natur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 75vh;
}

/*
* Header-text positioning, size and color
*/
.rubriker {
    text-align: center;
    color: #FFFAEB;
    padding: 20vh 3vw;
    text-shadow: -1px 2px black;
}

.rubriker h1{
    font-family: 'Gabriela', serif;
    font-size: 4em;
}

.rubriker h3{
    font-family: 'Gabriela', serif;
    font-size: 1.5em;
}

/* 
* Responsive layout- size of header-text
*/
@media screen and (max-width: 800px) {
    .rubriker {
        text-shadow: -1px 1px black;
        padding: 20vh 3vw;
    }

    .rubriker h1{
        font-size: 3em;
    }

    .rubriker h3{
        font-family: 'Abril Fatface', cursive;
        font-size: 1.7em;
    }
}

/* 
* Responsive layout- size of header-image and text
*/
@media screen and (max-width: 600px) {
    .header-image {
        height: 65vh;
    }

    .rubriker h1{
        font-size: 3em;
    }

    .rubriker h3{
        font-family: 'Abril Fatface', cursive;
        font-size: 1.4em;
    }
}
