/** home.css */

/*
* Positioning image home-page
*/
.hem-img {
    padding-top: 2em;
    text-align: center;
}

.hem-img img {
    width: 100%;
}

/*
* Container on home-page
*/
.home-container {
    padding-top: 2rem;
}

.home-container h2 {
    padding-bottom: 1rem;
}

/*
* Two-column-layout in container
*/
.two-column-layout {
    display: flex;
    justify-content: space-between;
}

/*
* Image and text of one object in two-column-layout
*/
.banner {
    width: 49%;
    text-align: center;
    position: relative;
}

.banner img {
    width: 100%;
    filter: grayscale(10);
}

.banner img:hover {
    filter: none;
}

.text-on-img {
    position: absolute;
    top: 35%;
    width: 100%;
    color: #FFFAEB;
    font-size: 4em;
    text-shadow: -1px 1px black;
}

/* 
* Responsive layout- size of text on images in container
*/
@media screen and (max-width: 800px) {
    .text-on-img {
        font-size: 3em;
    }
}

/* 
* Responsive layout- two-column-layout becomes one column
*/
@media screen and (max-width: 600px) {
    .two-column-layout {
        display: contents;
        margin: auto;
    }

    .banner {
        width: 100%;
        padding: 0;
    }

    .text-on-img {
        font-size: 2em;
    }
}