/** search.css */

/*
* Two column layout for search-results, objects left and articles right
*/
.search-results {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search {
    padding: 3vh 0;
}

.objekt-result {
    width: 48%;
}

.objekt-result img {
    width: 80%;
    padding: 1vh 0;
}

.artiklar-result {
    width: 48%;
}

/*
* Size of searchfield
*/
.field {
    width: 25vw;
    height: 3.5vh;
}

/*
* Size and style of searchbutton
*/
.button {
    width: 8vw;
    margin-top: 1vh;
    font-size: 1.2em;
    font-family: 'Lato';
    background-color: #005200;
    color: #FFFAEB;
    padding: 0.2rem;
    border-radius: 10%;
}

/* 
* Responsive layout- size of searchfield and button
*/
@media screen and (max-width: 800px) {
    .field {
        width: 50vw;
        height: 4vh;
    }
    .button {
        width: 15vw;
    }
}

/* 
* Responsive layout- makes one row with search-results instead of two
*/
@media screen and (max-width: 600px) {
    .search-results {
        width: 100%;
        display: block;
    }
    
    .objekt-result {
        width: 100%;
    }

    .objekt-result img {
        width: 100%;
    }

    .artiklar-result {
        width: 100%;
    }

    /*
    * Size of searchfield and button
    */
    .field {
    width: 80vw;
    height: 5vh;
    }
    .button {
        width: 40vw;
    }
}
