<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= titel %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/exam/index">Start</a></li>
                <li><a href="/exam/visa">Visa</a></li>
                <li><a href="/exam/search">Sök</a></li>
            </ul>
        </nav>