<%- include("./../partials/header.ejs") %>
    <article>
        <h1>Välkommen till kraftinfo!</h1>
        <h2 class="info">Här finns all information om Sveriges kraftverk samlad tillsammans med lite annat smått och gott. Klicka dig vidare för att hitta mer information.</h2>
    </article>
<%- include("./../partials/footer.ejs") %>
