<%- include("./../partials/header.ejs") %>
    <article>
        <h1>Välkommen till BuckStar</h1>
        <h2>Din onlineförsäljare av kvalitetskaffe och tillbehör.</h2>
    </article>
<%- include("./../partials/footer.ejs") %>
