<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= titel %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="../eshop/index">Start</a></li>
                <li><a href="../eshop/product">Produkter</a></li>
                <li><a href="../eshop/category">Kategorier</a></li>
                <li><a href="../eshop/about">Om oss</a></li>
                <li><a href="../eshop/search">Search</a></li>
            </ul>
        </nav>