h1,
h2,
h3,
h4,
p {
    color: white;
}

body {
    background-color: rgb(33, 92, 148);
    display: flex;
}

.testContent {
    text-align: center;
    padding-top: 4em;
    padding-right: 8em;
    padding-left: 8em;
    margin: auto;
}

.userInfo {
    padding: 12em 0 0 5em;
    text-align: center;
}

.info {
    line-height: 2rem;
}

.info h2 {
    font-size: 3rem;
    line-height: 1.1em;
}

.info p {
    font-size: 1.3rem;
}

#startButton,
#nextTest,
#startTimer,
.test3Answers {
    min-width: 6em;
    font-size: 1.3rem;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.7em;
    color: white;
    background-color: rgb(207, 110, 25);
}

.imageTest {
    border: solid white 1px;
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin: 0.8em;
}

#svarAlt {
    justify-content: space-between;
}

#svarAlt p {
    width: 30%;
    padding: 1em;
}

.shapes {
    width: 150px;
    height: 150px;
    margin: 1em;
}

.cirkel {
    border-radius: 50%;
}

.triangel {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}
