/** footer.css */

/*
* Color and positioning for main footer
*/
.footer {
    background-color: #005200;
    font-size: 1.2em;
    padding-top: 1.5rem;
    margin-top: 5vh;
    width: 100%;
    padding-bottom: 2rem;
}

/*
* Colors, fonts and positioning of text in footer
*/
.copyright {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #FFFAEB;
    padding-right: 5rem;
}

.länkar {
    font-family: 'Lato', sans-serif;
    color: #FFFAEB;
    text-decoration: none;
    padding-left: 5rem;
    display: block;
    padding-bottom: 1rem;
}

.länkar:hover {
    text-decoration: underline;
}

/*
* Column-layout of text in footer
*/
.footer .columns-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.8rem;
}

/* 
* Responsive layout - makes a one column-layout instead of two columns
*/
@media screen and (max-width: 600px) {
    .footer .columns-footer {
        text-align: center;
        display: block;
    }

    /*
    * Font-size and padding in one column-layout
    */
    .länkar {
        padding-left: 0;
        font-size: .8em;
    }

    .copyright {
        padding-right: 0;
        font-size: .8em;
    }
}
