/** main.css */

/* 
* Main reset of padding and margin
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
* Main backgroundcolor and size
*/
body {
    background-color: #FFFAEB;
    min-height: 100vh;
}

main {
    margin: auto;
    max-width: 80%;
}

/* 
* Fonts for webbsite
*/
p,
h1,
h2,
h3,
h4,
li,
figcaption {
    font-family: 'Lato', sans-serif;
}

/* 
* Main styling of links
*/
a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: black;
}

a:visited {
    text-decoration: none;
}

/* 
* Main styling of li-element
*/
li {
    list-style-position: inside;
    padding: .5rem;
}

/* 
* Heading for all pages styling, size
*/
.huvudrubrik {
    padding-top: 5vh;
    font-size: 2em;
    padding-bottom: 0.8rem;
    font-family: 'Lato', sans-serif;
}

.huvudrubrik p {
    padding-top: 1rem;
    font-size: .6em;
}

/* 
* Main styling of image-text
*/
.bild-text {
    font-style: italic;
    font-size: .9em;
    font-family: 'Lato', sans-serif;
}

/* 
* Padding text in documentation
*/
.doc-text {
    padding-bottom: 1rem;
}

/* 
* Styling of "back-to-top" arrow
*/
.back-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
}

.back-to-top img {
    width: 3rem;
}

/* 
* Responsive layout- size of "back-to-top" arrow
*/
@media screen and (max-width: 800px) {
    .back-to-top img {
        width: 2.75rem;
    }
    
}

/* 
* Responsive layout- size for small screens
*/
@media screen and (max-width: 600px) {
    .huvudrubrik {
        font-size: 1.5em;
    }
    
    .huvudrubrik p {
        font-size: .6em;
    }

    /* 
    * Padding for li-element
    */
    li {
        padding: .3rem;
    }

    /* 
    * Size of "back-to-top" arrow
    */
    .back-to-top img {
        width: 2.5rem;
    }
    
}